<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEVEST: 가상 투자 플랫폼</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="upperMain">
        <div class="title" style="float: left;">
            <a href="index"><img class="icon" src="/img/icon.jpg" alt="TEVEST logo"></a>
        </div>
        <nav class="sidebar">
            <ul>
                <div class="navigation">
                    <li><a href="">간편구매</a></li>
                    <li><a href="trade">거래소</a></li>
                    <li><a href="">랭킹</a></li>
                    <li><a href="">자산정보</a></li>
                </div>
                <div class="join">
                    <li th:if="${uid != null}"><p th:text="${uid}"></p></li>
                    <li th:if="${uid == null}"><a href="login">로그인</a></li>
                    <li th:if="${uid == null}"><a href="signup">회원가입</a></li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="main_container">
        <div class="main_left">
            <div class="box_userinfo">
                <div class="user_img"><img class="user_avatar" src="/img/avatar.jpg"></div>
                <div class="user_info">
                    <h2>안녕하세요, Sgom님!</h2>
                    <h4>현재 보유 자산 7,602,109 KRW</h4>
                    <a href="mypage.html" style="font-weight: 600;">마이페이지에서 더 알아보세요</a>
                </div>
            </div>
            <div class="gapbox"></div>
            <div class="box_ranking">
                <div class="message_welcome">오늘의 소식을 확인하세요</div>
                <form action="https://google.com/search">
                    <div class="search">
                        <input id="bar" type="text" name="q">
                        <input id="button" type="submit" value="Search">
                    </div>
                </form>
                <div class="box_left_news"> 뉴스 api를 넣으려고 했던.. 곳</div>
            </div>
        </div>
        <div class="main_right">
            <div class="message_ranking">가상자산 랭킹 TOP7</div>
            <div class="box_chart">
                <div class="box_chart_detail">
                    그래프를 넣으려고 했던 곳..
                </div>
            </div>
        </div>
    </div>
</body>

</html>