<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TEVEST: 가상 투자 플랫폼</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="upperMain">
            <div class="title" style="float: left;">
                <a href="main.html"><img class="icon" src="./icon.jpg" alt="TEVEST logo"></a>
            </div>
            <nav class="sidebar">
                <ul>
                    <div class="navigation">
                        <li><a href="">간편구매</a></li>
                        <li><a href="trade.html">거래소</a></li>
                        <li><a href="">랭킹</a></li>
                        <li><a href="">자산정보</a></li>
                    </div>
                    <div class="join" >
                        <li><a href="login.html">로그인</a></li>
                        <li><a href="signup.html">회원가입</a></li>
                    </div>
                </ul>
            </nav>
        </div>
    </body>
</html>
