a { text-decoration-line: none; }
ul { list-style: none; }

.upper_main {
    position: relative;
    margin: 20px;
    padding: 25px;
    line-height: 60px;
}

.title {
    margin: 0;
    padding: 5px;
    width: 120px;
    height: 60px;
}

.icon {
    width: 180px;
    object-fit: cover;
    line-height: 60px;
}

.sidebar ul a {
    color: black;
    padding: 0 10px;
}
a:visited { color: black; }
a:active, a:hover { color: #FFBA1F; }

.navigation {
    position: relative;
    left: 100px;
    width: 500px;
    height: 60px; 
}
.navigation li {
    float: left;
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.join {
    position: absolute;
    top: 15px;
    right: 20px;
    padding-right: 30px;
    width: 200px;
    height: 60px;
}
.join li {
    float: left;
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}

/* main 내 주요 내용 */
.main_container {
    position: relative;
    top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    margin: auto;

    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
}

.main_left {
    display: flex;
    flex-direction: column;
    border: none;
}
.main_left > div:first-child {
    width: 80%;
    flex: 4;
}
.main_left > div:last-child {
    width: 80%;
    flex: 5;
}
.gapbox { height: 10px; }
.box_left {
    border-radius: 15px;
    box-shadow: 0px 0px 10px #FFBA1F;
}

.user_avatar {
    position: relative;
    top: 25px; 
    left: 10px;

    width: 150px;
    object-fit: cover;
}

.message_welcome {
    position: absolute;
    top: 280px;
    padding-left: 20px;

    font-size: 18px;
    font-weight: 600;
}
.message_ranking {
    position: relative;
    top: 20px;
    padding-left: 20px;

    font-size: 20px;
    font-weight: 600;
}


/* login.html */
.login_form {
    width: 400px;
    height: 350px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px lightgray;
    text-align: center;

}

.login_form_title {
   font-size: x-large;
   font-weight: 600;
}

.form_elements {
    width: 200px;
    height: 150px;
    margin: auto;

    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.button {
    width: 180px;
    height: 40px;
    background-color: #FFBA1F;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

