<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta CONTENT="no-cache">
        <title>TEVEST: 가상 투자 플랫폼</title>
        <link rel="stylesheet" href="/css/styles.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	</head>
	<body>
		<div class="upperMain">
            <div class="title" style="float: left;">
				<a href="index"><img class="icon" src="/img/icon.jpg" alt="TEVEST logo"></a>
            </div>
            <nav class="sidebar">
                <ul>
                    <div class="navigation">
                        <li><a href="index.html">간편구매</a></li>
                        <li><a href="trade.html">거래소</a></li>
                        <li><a href="index.html">랭킹</a></li>
                        <li><a href="index.html">자산정보</a></li>
                    </div>
                    <div class="join" >
						<li th:if="${uid != null}"><p th:text="${uid}"></p></li>
						<li th:if="${uid == null}"><a href="login">로그인</a></li>
						<li th:if="${uid == null}"><a href="signup">회원가입</a></li>
                    </div>
                </ul>
            </nav>
        </div>
		<div id="container" style="height: 400px; min-width: 310px"></div>
		<script>
			function Unix_timestampConv(){
			    return Math.floor(new Date().getTime() / 1000);
			}
			function draw3(){
				var time = Unix_timestampConv() - 43200;
				var v;
				var sell = [[${btc}]];
				var money = [[${krw}]];
				var chartdata = [];
				$.getJSON('https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=' + time + '&end=9999999999&period=300', function (data) {
					$.each(data, function(i, item){
						chartdata.push([item.date*1000, item.open, item.high, item.low, item.close]);
						v = (item.open * 1187.83).toFixed(2);
						document.getElementById('cost').value = v;
						document.getElementById('buycost').value = v;
						document.getElementById('sellcost').value = v;
						document.getElementById('buy_possible').value = (money/v).toFixed(5);
						document.getElementById('sell_possible').value = sell;
						document.getElementById('money').value = money;
					});
					timerID = setTimeout("draw3()", 60000);
				}).done(function(){
					Highcharts.stockChart('container',{
						title: {
							text: 'BTC/USDT'
						},
						rangeSelector: {
							buttons: [
								{type: 'hour',count: 1,text: '1h'}, 
								{type: 'all',count: 1,text: 'All'}
							],
							selected: 2,
							inputEnabled: true
						},
						plotOptions: {
							candlestick: {
								downColor: 'blue',
								upColor: 'red'
							}
						},
						series: [{
							name: 'BTC/USDT',
							type: 'candlestick',
							data: chartdata,
							tooltip: {
								valueDecimals: 8
							}
						}]
					});
				});
			}
			draw3();
		</script>
		<div id="hello">
			<div class="test" style="margin-bottom:20px;">
				가격(KRW): <input type="text" id="cost" size="20" disabled>
				보유금액(KRW): <input type="text" id="money" disabled>
			</div>
			<div class="test" style="margin-bottom:20px;">
				<div>
					<form action = "" name = "selling" method="post">
						매수 가능: <input type="text" id="buy_possible">
						buy price(KRW): <input type="text" id="buycost" size="20" disabled>
						<input type="submit" class="buy" value="매수"></input>
					</form>
				</div>
			</div>
			<div class="test" style="margin-bottom:20px;">
				<div>
					<form action = "" name = "selling" method="post">
						매도 가능: <input type="text" id="sell_possible">
						sell price(KRW): <input type="text" id="sellcost" size="20" disabled>
						<input type="submit" class="sell" value="매도"></input>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>