<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TEVEST: 가상 투자 플랫폼</title>
        <link rel="stylesheet" href="styles.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    </head>
    <body>
        <div class="upperMain">
            <div class="title" style="float: left;">
                <a href="main.html"><img class="icon" src="./icon.jpg" alt="TEVEST logo"></a>
            </div>
            <nav class="sidebar">
                <ul>
                    <div class="navigation">
                        <li><a href="">간편구매</a></li>
                        <li><a href="trade.html">거래소</a></li>
                        <li><a href="">랭킹</a></li>
                        <li><a href="">자산정보</a></li>
                    </div>
                    <div class="join" >
                        <li><a href="login.html">로그인</a></li>
                        <li><a href="signup.html">회원가입</a></li>
                    </div>
                </ul>
            </nav>
        </div>
		<div id="container" style="height: 400px; min-width: 310px"></div>
		<script>
			function Unix_timestampConv(){
			    return Math.floor(new Date().getTime() / 1000);
			}
			function draw3(){
				var time = Unix_timestampConv() - 43200;
				var chartdata = [];
				$.getJSON('https://poloniex.com/public?command=returnChartData&currencyPair=BTC_XMR&start=' + time + '&end=9999999999&period=300', function (data) {
					$.each(data, function(i, item){
						chartdata.push([item.date*1000, item.open, item.high, item.low, item.close]);
					});
					timerID = setTimeout("draw3()", 60000);
				}).done(function(){
					Highcharts.stockChart('container',{
						title: {
							text: 'ETH/BTC'
						},
						rangeSelector: {
							buttons: [
								{type: 'hour',count: 1,text: '1h'}, 
								{type: 'all',count: 1,text: 'All'}
							],
							selected: 2,
							inputEnabled: true
						},
						plotOptions: {
							candlestick: {
								downColor: 'blue',
								upColor: 'red'
							}
						},
						series: [{
							name: 'ETH/BTC',
							type: 'candlestick',
							data: chartdata,
							tooltip: {
								valueDecimals: 8
							}
						}]
					});
				});
			}
			draw3();
		</script>
	</body>
</html>